<h1>ダッシュボード</h1>

<h2>プロジェクト一覧</h2>
<ul>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project_path(project) %></li>
  <% end %>
</ul>

<h2>タスク一覧</h2>
<ul id = "taskList">
  <% @tasks.each do |task| %>
    <li><%= link_to task.title, task_path(task) %></li>
  <% end %>
</ul>

<h2>新規作成</h2>
<%= link_to "新しいプロジェクトを作成", new_project_path %>
<br>
<%= link_to "新しいタスクを作成", new_task_path %>


<!-- モーダルトリガーボタン -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#taskModal">
  新しいタスクを作成
</button>

<!-- モーダル本体 -->
<div class="modal fade" id="taskModal" tabindex="-1" role="dialog" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">新しいタスクを作成</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render partial: 'public/tasks/form', locals: { task: @task } %> <!-- タスクのフォーム部分を部分テンプレートとしてレンダリング -->
      </div>
    </div>
  </div>
</div>

