<div class="sign-form">
  <h2 class="text-center mb-4">アカウントを登録する</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mx-auto', style: 'max-width: 400px;' }) do |f| %>
    <% fields = [
        { label: 'ニックネーム', type: :text_field, name: :name },
        { label: 'メールアドレス', type: :email_field, name: :email },
        { label: 'パスワード', type: :password_field, name: :password },
        { label: 'パスワード確認', type: :password_field, name: :password_confirmation }
    ] %>

    <% fields.each do |field| %>
      <div class="form-group">
        <%= f.label field[:label] %>
        <%= f.send(field[:type], field[:name], value: flash[:form_data] ? flash[:form_data][field[:name]] : nil, class: 'form-control') %>
        <%= display_errors_for(field[:name].to_s) %>
      </div>
    <% end %>

    <% if @minimum_password_length %>
      <small class="form-text text-muted">
        (<%= @minimum_password_length %> characters minimum)
      </small>
    <% end %>

    <div class="actions">
      <%= f.submit "アカウントを登録", class: 'btn btn-block custom-btn' %>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    すでにアカウントを持っている方は <%= link_to "ログイン", new_user_session_path %> してください
  </div>
</div>
