  <div class="sign-form">
    <h2 class="text-center mb-4">アカウントを登録する</h2>
    
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'mx-auto', style: 'max-width: 400px;' }) do |f| %>
      <%= render "public/shared/error_messages", resource: resource %>
    
      <div class="form-group">
        <%= f.label :ニックネーム %>
        <%= f.text_field :name, class: 'form-control', autofocus: true %>
      </div>
    
      <div class="form-group">
        <%= f.label :メールアドレス %>
        <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
      </div>
    
      <div class="form-group">
        <%= f.label :パスワード %>
        <% if @minimum_password_length %>
          <small class="form-text text-muted">
            (<%= @minimum_password_length %> characters minimum)
          </small>
        <% end %>
        <%= f.password_field :password, class: 'form-control', autocomplete: "new-password" %>
      </div>
    
      <div class="form-group">
        <%= f.label :パスワード確認 %>
        <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password" %>
      </div>
    
      <div class="actions">
        <%= f.submit "アカウントを登録", class: 'btn btn-block custom-btn' %>
      </div>
    <% end %>
    
    <div class="mt-4 text-center">
      すでにアカウントを持っている方は <%= link_to "ログイン", new_user_session_path %> してください
    </div>
    
    
</div>
