<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newProjectModal">
  新規プロジェクト作成
</button

<%= form_with url: projects_path, method: :get, local: true, class: 'search-form' do %>
  <%= text_field_tag :search, params[:search], placeholder: 'プロジェクト名で検索...' %>
  <%= submit_tag "検索", class: "btn btn-secondary" %>
<% end %>

<h1>プロジェクト</h1>
<div class="project-cards">
  <% @projects.each do |project| %>
    <div class="project-card" draggable="true">
      <!-- プロジェクト名 -->
      <div class="project-name"><%= project.name %></div>

      <!-- アクションアイコン -->
      <div class="project-actions">
        <!-- お気に入りボタン (星アイコン) -->
        <button class="btn btn-link favorite-btn">
          <i class="fas fa-star" style="color: #707070;"></i>
        </button>

        <div class="d-inline-block">
          <button class="btn btn-link" type="button" data-toggle="modal" data-target="#editProjectModal-<%= project.id %>">
            <i class="fa-solid fa-bars" style="color: #707070;"></i>
          </button>
        </div>
      </div>
    </div>
    <%= render "new_project_modal" %>
    <%= render 'edit_project_modal', project: project %>
    
  <% end %>
</div>


