<div id="taskModal">
    <label for="taskTitle">タイトル</label>
    <input type="text" id="taskTitle" value="<%= @task.title %>">

    <label for="taskDescription">説明：</label>
    <textarea id="taskDescription"><%= @task.description %></textarea>

    <label for="taskDueDate">期限：</label>
    <input type="date" id="taskDueDate" value="<%= @task.due_date %>">

    <label for="taskPriority">優先度：</label>
    <input type="text" id="taskPriority" value="<%= @task.priority %>">

    <button id="saveTaskDetails">変更を保存</button>
    <%= link_to '削除', task_path(@task), method: :delete, data: { confirm: '本当に削除しますか？' } %>
    <%= link_to '戻る', tasks_path %>
</div>
