<div class="mypage container mt-5">
    <div class="user-info mb-4" data-user-id="<%= @user.id %>">
        <h2 class="mb-3">ユーザー情報</h2>
        <p><strong>ユーザー名：</strong><%= @user.name %></p>
        <p><strong>メールアドレス：</strong><%= @user.email %></p>
        <p><strong>登録日：</strong><%= @user.created_at.to_formatted_s(:long) %></p>
    </div>

    <div class="mb-4">
        <div id="weekday-headers">
            <div>月</div>
            <div>火</div>
            <div>水</div>
            <div>木</div>
            <div>金</div>
            <div>土</div>
            <div>日</div>
        </div>
  
        <div id="contribution-grid"></div>
    </div>

    <div class="month-calendar mb-4">
        <%= month_calendar events: @events do |date, events| %>
            <div class="date-cell mb-3">
                <div class="date-number mb-1"><%= date.day %></div>
                <% events.each do |event| %>
                    <div class="event-title">
                        <%= event.title %>
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
